@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0 auto;
  font-family: 'Black Ops One', regular;
  width: 100%;
  background: url('/images/home-bg.png') no-repeat center center fixed;
  height: 100vh;
  line-height: 1.6;
}

.wrapper {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(3, 3, 3, 0.815);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 0rem;
}

.nav-link:hover {
  color: white;
  border-color: blue;
}

.main-welcome {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-welcome h1 {
color: white;
font-size: 50px;
}

.main-about {
  width: 100%;
}

.main-about button,a {
  margin-top: 20px;
}

section#about-main {
  width: 100%;
  background-image: url(/images/victoriano-izquierdo-JG35CpZLfVs-unsplash.jpg);
  background-size: cover;
}

.main-services {
  width: 100%;
}